body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  display: grid;
}
.main-header .container {
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  display: inline-flex;
}
@media {
  grid-template-columns:active;
}
.logo {
  grid-template-columns: min-content;
  float: left;
  justify-content: center;
}
.right-menu {
  float: auto;
}

.simple-menu {
  background-color: #282c34;
  min-height: 10vh;
  display: grid;
  grid-template-columns: min-content;
  float: left;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}
.menu-too {
  grid-template-columns: min-content;
  float: right;
}

.a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.menu {
  background-color: #282c34;
  min-height: 20vh;
  min-width: 40vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.menu .nupud {
  flex-direction: row-reverse;

}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
  }

.footer p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
